@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'East Sea Dokdo', cursive;

    font-family: 'Yeon Sung', cursive;
}
#header{
    background-image: url(../image/top_bg.png);
    height: 200px;
}
.logo{
    height: 100px;
    width: 150px;
    margin: 20px 0px;
}
.navbar li{
    padding: 0 15px;
    background: url(../image/menu_bg.png) repeat;
    border-radius: 0px 0px 32px 32px;
    z-index: 999;
}
.navbar li a{
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
    transition: all 500ms;
    display: inline-block;
} 
.menu_short_dics {
    color: #da2222;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu_name {
    color: #da2222;
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.navbar li a:hover .menu_short_dics{
    color:  #FCB31E;
}
.navbar li a:hover .menu_name{
    color:  #FCB31E;
}
#img_slider .container{
    max-width: 896px;
    height: auto;
    margin-top: -30px;
    border: 5px solid #2E96F2;
    border-radius: 16px;
    -webkit-box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.57);
    box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.57);
}
.products .style{
    text-align: center;
    vertical-align: center;
    margin: 30px 0;
    border-bottom: 5px dotted #2E96F2;
    text-transform: uppercase;
}
.tittle{
    color: #da2222;
}
.img{
    transition: all 0.5s ease;
    position: relative;
    border: 3px solid  #2E96F2;
    border-radius: 5px;
}
.img:hover{
    transform: translateY(-20px);
}
.img img{
    height: 300px;
    width: 230px;
    overflow: hidden;
}
.view_details{
    display: none;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.img:hover .view_details{
    background: rgba(5, 82, 247, 0.5);
    display: block;
    z-index: 999;
    color: white;
}
.product_categoruy_title{
    padding: 0px 0;
    border-bottom: 3px dotted  #2E96F2;
    
}
#footer{
    background-image: url(../image/wave2.jpg);
    height: 272px;
}
.copyright{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}
.footer{
    background: none repeat scroll 0 0 #2492d8;
    margin-top: -33px;
    padding-bottom: 22px;
    position: absolute;
    width: 100%;
}
.footer strong a{
    /* text-decoration: none; */
    color:  #da2222;
    font-size: 20px;
    transition: all 0.5s ;
}
.footer strong a:hover{
    color:  #FCB31E;
}




.about{
    padding: 15px 0;
    max-width: 995px !important;
    margin: 0 auto !important;
    text-align: center;
    border-bottom: 5px dotted #2492d8;
}
/* .about .boder{
    width: 43% !important;
    text-align: justify;
    background: none repeat scroll 0 0 #d1d1d1;
    height: 2px;
    margin-top: 20px;
} */
.about h3{
    display: inline-block;
    vertical-align: center;
    color:  #da2222;

}
.body_about{
    padding: 30px 10px;
    max-width: 995px !important;
    margin: 0 auto !important;
    text-align: justify;
}
.black_tiger_details{
    font-size: 18px;
}



 /* team  */
.back{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 25px;
}

.info{
    font-size: 13px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 2px solid #2492d8;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color:  #2492d8;
  color: white;
  transform: rotateY(180deg);
  position: relative;
}
.link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link a{
    text-decoration: none;
}
.link .faa i{
    font-size: 30px;
    color: white;
    transition: all 0.5s ease;
}
.link a:hover i{
    transform:translateY(-5px)
}
.color{
    color:  #2492d8;
}





@media(max-width:769px){
    .navbar li{
        background: none;
        background-color: #2E96F2;
        border-radius: 32px 32px 32px 32px;
        margin-bottom: 5px;
    }
    .team .product{
        padding-bottom: 30px;
    }
}
@media(max-width: 560px){
    #img_slider{
        padding: 20px 0px;
    }
    #img_slider .container{
        margin-top: 0px;
    }
    .copyright{
        font-size: 12px;
    }
    .footer strong a{
        font-size: 15px;
    }
    .about .boder{
        margin-top: 0px;
    }
}